[submodule "aweseome-wm-widgets"]
	path = awesome-wm-widgets
  url = https://github.com/whilei/awesome-wm-widgets.git
[submodule "revelation"]
	path = revelation
	url = https://github.com/guotsuan/awesome-revelation
[submodule "handy"]
	path = handy
	url = https://github.com/crater2150/awesome-handy.git
[submodule "modalbind"]
	path = modalbind
  url = https://github.com/whilei/awesome-modalbind.git
[submodule "awesome-macos"]
	path = awesome-macos
	url = https://github.com/dj95/awesome-macos.git
