[submodule "aweseome-wm-widgets"]
	path = awesome-wm-widgets
  url = https://github.com/whilei/awesome-wm-widgets.git
[submodule "revelation"]
	path = revelation
  url = https://github.com/whilei/awesome-revelation.git
[submodule "handy"]
	path = handy
  url = https://github.com/whilei/awesome-handy.git
[submodule "modalbind"]
	path = modalbind
  url = https://github.com/whilei/awesome-modalbind.git
[submodule "awesome-macos"]
	path = awesome-macos
	url = https://github.com/dj95/awesome-macos.git
[submodule "arc"]
	path = arc
	url = https://github.com/whilei/awesome-awesome-rc.git
[submodule "vicious"]
	path = vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "awesome"]
	path = awesome
	url = https://github.com/awesomeWM/awesome.git
[submodule "poppin"]
	path = poppin
	url = https://github.com/raksooo/poppin.git
[submodule "awesome-buttons"]
	path = awesome-buttons
	url = https://github.com/streetturtle/awesome-buttons.git
[submodule "bling"]
  path = bling
  url = https://github.com/BlingCorp/bling.git
[submodule "modalawesome"]
  path = modalawesome
  url = https://github.com/potamides/modalawesome.git
[submodule "net_widgets"]
  path = net_widgets
  url = https://github.com/whilei/net_widgets.git
[submodule "nice"]
  path = nice
  url = https://github.com/mut-ex/awesome-wm-nice.git
[submodule "rubato"]
  path = rubato
  url = https://github.com/andOrlando/rubato.git
[submodule "smart_borders"]
  path = smart_borders
  url = https://github.com/whilei/smart_borders.git

[submodule "lain"]
	path = lain
	url = https://github.com/whilei/lain.git
[submodule "battery_widget"]
	path = battery_widget
	url = https://github.com/Aire-One/awesome-battery_widget.git
